<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>
<body class="bg-gray-100">
<div class="container mx-auto px-4 py-12">
    <div class="max-w-4xl mx-auto bg-white p-8 border border-gray-200 rounded-lg shadow-sm">
        <a href="/" class="absolute ml-3 inline-block">
            <img src="/images/back_arrow.png" alt="Back" class="w-10 h-7"/>
        </a>
        <h2 class="font-semibold text-3xl mb-6 text-gray-800 text-center">Inbox</h2>
        <div class="flex justify-between mb-4">
            <form th:action="@{/filter}" method="post" class="flex items-center">
                <label class="inline-flex items-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-500" name="liked" value="true"/>
                    <span class="ml-2 text-gray-700">Liked</span>
                </label>
                <label class="ml-4 inline-flex items-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-500" name="starred" value="true"/>
                    <span class="ml-2 text-gray-700">Starred</span>
                </label>
                <button type="submit" class="ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Apply Filter
                </button>
            </form>

            <form th:action="@{/inbox/search}">
                <label for="keyword"></label>
                <input type="text" id="keyword" name="keyword" placeholder="Search..." class="px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                <button type="submit" class="ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Search</button>
            </form>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full leading-normal">
                <thead>
                <tr>
                    <th class="w-14 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
                        Date
                    </th>
                    <th class="w-48 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
                        Sender
                    </th>
                    <th class="pl-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
                        Subject
                    </th>
                    <th class="w-24 pl-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="email : ${emails}">
                    <td class="w-14 py-3 border-b border-gray-200 bg-white text-base">
                        <p class="text-gray-900 text-sm whitespace-no-wrap" th:text="${email.getDate()}"></p>
                    </td>
                    <td class="w-48 px-3 py-3 border-b border-gray-200 bg-white text-base">
                        <div class="flex items-center">
                            <div class="ml-3">
                                <p class="text-gray-900 whitespace-no-wrap" th:text="${email.getName()}"></p>
                                <p class="text-gray-600 whitespace-no-wrap" th:text="${email.getEmail()}"></p>
                            </div>
                        </div>
                    </td>
                    <td class="px-3 py-3 border-b border-gray-200 bg-white text-base">
                        <p class="text-gray-900 whitespace-no-wrap" th:text="${email.getSubject()}"></p>
                    </td>
                    <td class="w-32 pr-3 py-3 border-b border-gray-200 bg-white text-base space-x-2">
                        <div class="flex space-x-2">
                            <form th:action="@{/star}" th:method="post">
                                <input type="hidden" name="emailId" th:value="${email.getId()}" />
                                <button type="submit">
                                    <img th:src="${email.isStarred} ? '/images/filled_star.png' : '/images/empty_star.png'" alt="Star" class="w-9 h-9"/>
                                </button>
                            </form>
                            <form class="mt-1" th:action="@{/like}" th:method="post">
                                <input type="hidden" name="emailId" th:value="${email.getId()}" />
                                <button type="submit">
                                    <img th:src="${email.isLiked} ? '/images/filled_heart.png' : '/images/empty_heart.png'" alt="Like" class="w-7 h-7"/>
                                </button>
                            </form>
                            <form class="mt-1 ml-1" th:action="@{/inbox/email-details}" th:method="post">
                                <input type="hidden" name="emailId" th:value="${email.getId()}" />
                                <button type="submit">
                                    <img th:src="'/images/info.png'" alt="Info" class="w-7 h-7"/>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    window.addEventListener('beforeunload', function() {
        localStorage.setItem('scrollPosition', window.scrollY);
    });

    window.addEventListener('load', function() {
        const scrollPosition = localStorage.getItem('scrollPosition');
        if (scrollPosition !== null) {
            window.scrollTo(0, parseInt(scrollPosition));
            localStorage.removeItem('scrollPosition');
        }
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>
