<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>
<body class="bg-gray-100">
<div class="container mx-auto px-4 py-12">
    <div class="max-w-4xl mx-auto bg-white p-8 border border-gray-200 rounded-lg shadow-sm">
        <a href="/" class="absolute ml-3 inline-block">
            <img src="/images/back_arrow.png" alt="Back" class="w-10 h-7"/>
        </a>
        <h2 th:if="${received}" class="font-semibold text-3xl mb-6 text-gray-800 text-center">Inbox</h2>
        <h2 th:if="${sent}" class="font-semibold text-3xl mb-6 text-gray-800 text-center">Sent</h2>
        <h2 th:if="${spam}" class="font-semibold text-3xl mb-6 text-gray-800 text-center">Spam</h2>
        <div th:if="${not #lists.isEmpty(emails)}" class="flex justify-between mb-4">
            <form th:if="${received}" th:action="@{/filter}" method="post" class="flex items-center">
                <label class="inline-flex items-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-500" name="liked" value="true"/>
                    <span class="ml-2 text-gray-700">Liked</span>
                </label>
                <label class="ml-4 inline-flex items-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-500" name="starred" value="true"/>
                    <span class="ml-2 text-gray-700">Starred</span>
                </label>
                <button type="submit" class="ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Apply Filter
                </button>
            </form>
            <div class="flex">
                <form th:action="@{/inbox/search}">
                    <label for="keyword"></label>
                    <input type="text" id="keyword" name="keyword" placeholder="Search..." class="px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    <button type="submit" class="ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Search</button>
                </form>
                <form action="/inbox" method="get">
                    <button type="submit" class="bg-gray-300 hover:bg-gray-400 ml-2 p-1 rounded">
                        <img src="/images/refresh.png" alt="Refresh" class="w-8 h-8"/>
                    </button>
                </form>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full leading-normal">
                <thead>
                <tr th:if="${not #lists.isEmpty(emails)}">
                    <th class="w-14 px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
                        Date
                    </th>
                    <th class="w-48 px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
                        Sender
                    </th>
                    <th class="pl-3 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
                        Subject
                    </th>
                    <th class="w-24 px-3 py-3 border-b-2 border-gray-300 bg-gray-100 text-center text-sm font-semibold text-gray-600 uppercase tracking-wider">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody th:if="${not #lists.isEmpty(emails)}">
                    <tr th:if="${received}" th:each="email : ${emails}" th:insert="~{blocks/receivedEmailBlock :: emailRow(email=${email})}"></tr>
                    <tr th:if="${sent}" th:each="email : ${emails}" th:insert="~{blocks/sentEmailBlock :: emailRow(email=${email})}"></tr>
                    <tr th:if="${spam}" th:each="email : ${emails}" th:insert="~{blocks/spamEmailBlock :: emailRow(email=${email})}"></tr>
                </tbody>
                <tbody th:unless="${not #lists.isEmpty(emails)}">
                    <tr>
                        <td colspan="4" class="text-center text-2xl py-4 text-gray-500">No emails found</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

<script>
    window.addEventListener('beforeunload', function() {
        localStorage.setItem('scrollPosition', window.scrollY);
    });

    window.addEventListener('load', function() {
        const scrollPosition = localStorage.getItem('scrollPosition');
        if (scrollPosition !== null) {
            window.scrollTo(0, parseInt(scrollPosition));
            localStorage.removeItem('scrollPosition');
        }
    });
</script>

<script>
    function getPath() {
        const previousPage = localStorage.setItem('previousPage', window.location.href);
        return previousPage;
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>
