<tr th:fragment="emailRow">
    <td class="w-14 py-3 pl-2 border-b border-gray-400 bg-gray-200 text-base">
        <p class="text-gray-900 text-sm whitespace-no-wrap" th:text="${email.getDate()}"></p>
    </td>
    <td class="w-48 px-3 py-3 border-b border-gray-400 bg-gray-200 text-base">
        <div class="flex items-center">
            <div class="ml-3">
                <p class="text-gray-900 whitespace-no-wrap">Illia Matsko</p>
                <p class="text-gray-600 whitespace-no-wrap" th:text="${email.getEmail()}"></p>
            </div>
        </div>
    </td>
    <td class="px-3 py-3 border-b border-gray-400 bg-gray-200 text-base">
        <p class="text-gray-900 whitespace-no-wrap" th:text="${email.getSubject()}"></p>
    </td>
    <td class="w-32 pr-3 py-3 border-b border-gray-400 bg-gray-200 text-base space-x-2">
        <div class="class=flex space-x-2 flex justify-center">
            <form class="mt-1 ml-1" th:action="@{/inbox/email-details}" th:method="post">
                <input type="hidden" name="emailId" th:value="${email.getId()}" />
                <button type="submit">
                    <img th:src="'/images/info.png'" alt="Info" class="w-7 h-7"/>
                </button>
            </form>
        </div>
    </td>
</tr>